<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MinhaConnectionString"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=NB-VERITY000290\SQLEXPRESS;Initial Catalog=VERITYLOCAL;Integrated Security=True"/>
  </connectionStrings>
</configuration>